APP_NAME=SentinelForge EDR Ingest API
ENVIRONMENT=local
LOG_LEVEL=INFO
API_V1_PREFIX=/api/v1
SERVICE_NAME=ingest-api

INGEST_SHARED_TOKEN=replace-this-with-a-long-random-token

DB_URL=postgresql+asyncpg://sentinel:sentinel1@localhost:5432/sentinelforge
DB_MIGRATION_URL=postgresql+psycopg://sentinel:sentinel1@localhost:5432/sentinelforge